.comunidad {
		display: flex;
		padding-top: 100px;
		padding-bottom: 100px;
    	padding-left: @padding-izquierda;
		padding-right: @padding-derecha;
	&_conttenido {
		font-family: @fuente-base3;
		width: 80%;
		font-size: 20px;
		h1 {
			font-size: 50px;
		}
		p {
			margin: 0px;
			color: @color-base2;
		}
		h6 {
			margin: auto;
		}
	}
  &_imagen {
        img {
						width: 350px;
						margin-left: 70px;
        }
    }
}
