:root: {
 --font-family: sans-serif; 
 --font-family2: arial;  
}
 


/* ------------------------------------------------*/
/* -----TODA LA PAGINA ------*/

.style {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

/* -----EMCABEZADO---------*/


    .emcabezado {
    background-color: black;
    padding-top: 2px;
    font-family: var(--font-family2);
    height: 65px;
    box-shadow: 0 0 5px;
}

.logo {
display: flex;
margin-top: 0px;
padding-left: 20px;
}

.menu {
   display: flex;
   align-items: center;
   width: 100%;
   justify-content: flex-end;
}

.emcabezado ol {
    list-style: none;
    display: flex;
}

.emcabezado a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    margin: 10px;
}

a:hover{
    color: #0C89E8;
}

.fondo {
    background-color: #fafafa;
}

 
/* -----PRIMERA SECCION----- */


    .Que_es_conecta {
        background: #ff5500;
        display: flex;
        align-items: center;
        width: 100%;
        height: 500px;
}

.Que_es_conecta h1 {
    padding-left: 20px;
    margin-top: -20px;
    color: black;
    display: block;
    font-size: 50px;
}

.Que_es_conecta p {
    padding-left: 30px;
   color: black;
    display: block;
    font-size: 20px;
    margin-bottom: 40px;
}

.Que_es_conecta img {
    align-items: center;
  height: 500px;
  width: 50%;

}


.organizar {
    width: 60%;
    height: 300px;
    margin: 50px;

}

.descargar {
    border: 1px solid;
    border-radius: 10px;
    border-color: black;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 100px;
    margin-top: 100px;
    text-decoration: none;
    font-size: 15px;
    background-color: black;
    color:white;
    box-shadow: 0 0 1px black;
}

.descargar:hover {
    background-color: #0D57FF;
    color: white;
    border-color: #0D57FF;
}


/* ----CIRCULOS----*/


.todos_los_circulos {
display: flex;
justify-content: center;
text-align: center;
margin-top: 40px;
margin-bottom: 40px;
}

.content {
    width: 300px;
}

.todos_los_circulos h2 {
    font-size: 15px;
}

.circulo1 {
    margin-right: 50px; 
    margin-top: 30px;  
}


.circulo2 {
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 30px;

}

.circulo3 {
    margin-left: 50px;
    margin-top: 30px;
}


/* -----SECCION 2 MISION Y VISION-----*/


.titulo {
margin-left: 30px;
margin-bottom: 20px;
}

.para_el_transporte h1 {
    margin-top: -50px;
margin-left: 30px;
margin-bottom: 70px;
font-size: 2em;
}


.sobre_nosotros {
    margin-top: 0;
    display: flex;
    justify-content: center;
    height: 50%;
    width: 100%;
}

.nosotros {
    text-align: center;
    width: 50%;
}

.Nuestro_objetivo {
font-size: 20px;
}

.mision {
    font-size: 20px;
    display: flex;
}

.mision img {
    display: flex;
}

.parrafos {
    display: block;
}


/* ------COMUNIDAD-------*/

.comunidad {
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 30px;
    background-color: white;
    display: flex;
    height: 400px;
}

.comunidad p {
font-size: 16px;
margin-left: 60px;
margin-right: 40px;
}

.texto {
    width: 50%;
    margin-top: 40px;
}

.texto h2 {
    font-size: 36px;
    margin-left: 60px;
}

.img {
display: flex;
height: 400px;
width: 400px;
margin-left: 100px;
}



/* ------ALIADO------ */

.aliado {
    padding: 30px;
    display: flex;
background-color: black;
}

.nuestro_aliado {
   padding-top: 40px;
   padding-right: 50px;
}

.aliado img {
    height: 400px;
    width: 500px;
}

.nuestro_aliado h2 {
    font-size: 60px;
    margin: 0;
    color: white;

}

.nuestro_aliado p {
    font-size: 16px;
    color: white;
}

.nuestro_aliado h5 {
    color: white;
}

/* IMAGEN--------*/


.imagenc {
    display: flex;
    margin-top: 50px;

}

.imagencarros {
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}



/* -------TRABAJEMOS JUNTOS------- */

.Trabajemos_juntos {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: center;
    text-align: center;
}

.trabajoempresas {
    margin-right: 50px;
}

.trabajopropietarios {
    margin-left: 50px;
    margin-right: 50px;
}

.trabajoparacualquiera {
    margin-left: 50px;
}



/* ----------PIE DE PAGINA--------- */
 

.piedepagina {
    background-color: black;
    height: 40%;
}

