.emcabezado {
	display: flex;
	background-color: @color-base1;
	box-shadow: 0 0 3px;
	&__image {
		img {
			width: 110px;
			padding-left: @padding-izquierda;
		}
	}
		&__links {
			padding-right: @padding-derecha;
			display: flex;
			width: 1150px;
			justify-content: flex-end;
			align-items: center;
				ol {
					list-style: none;
					padding: 5px;
			}
					a {
						text-decoration: none;
						font-family: @fuente-base3;
						font-size: 13px;
						font-weight: 600;
						border: solid @color-base1 10px;
						border-radius: 30px;
						color: @color-base4;
						background-color: @color-base1;
						}
		a:hover {
			border-color: @color-base2;
			background-color: @color-base2;
		}
	}
}