.conecta {
		display: flex;
		background-color: @color-primario;
		height: 350px;
		padding-left: @padding-izquierda;
		padding-right: @padding-derecha;
    &__contenido {
				margin: auto;
				width: 80%;
				font-size: 20px;
				h1 {
					font-size: 50px;
					font-family: 'ABeeZee', sans-serif;
				}
    }
    &__imagen {
			text-align: end;
			margin: auto;
			width: 80%;
			img {
				width: 70%;
				border-radius: 100px;
			}
    }

}