.trabajaConecta {
    margin-top: 100px;
    padding-left: @padding-izquierda;
    padding-right: @padding-derecha;
    h1 {
        text-transform: uppercase;
    }
}
.trabajemosJuntos {
    padding-left: @padding-izquierda;
    padding-right: @padding-derecha;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}
.trabajemos {
    text-align: justify;
    &__imagen {
        img {
            width: 80px;
        }
    }
    &__contenido {
        width: 300px;
    }
}

