section.comunidad(id="comunidad")
			.comunidad_conttenido
				h1 CONECTATE al mundo del transporte especial
				p 
					| Somos CONECTA, la primera plataforma en Colombia 
					| que apoya y mejora el TRANSPORTE ESPECIAL, cada
					| miembro CONECTA podra comunicarce con cada integrante
					| del gramio de transportadores incluyendo empresas, 
					| conductores, propietarios e intermediarios haciendo 
					| posible la comunicacion y asi incrementando el empleo 
					| de una manera amigable.
					h6 apoyando el transporte especial
			.comunidad_imagen
				img(src="images/conectar.png")