header
			.emcabezado
					.emcabezado__image: img(src="images/logoconecta.png")
					.emcabezado__links
						ol
							li
								a(href="#visionymision") Conocenos
						ol
							li
								a(href="#comunidad") Comunidad
						ol
							li
								a(href="#Nuestro_Aliado") Nuestro Aliado
						ol
							li
								a(href="#Trabajemos_juntos") Trabajemos juntos