section.nuestroAliado(id="Nuestro_Aliado")
	.nuestroAliado__imagen
		img(src="images/aliado2.png")
	.nuestroAliado__contenido
		h2 comunidad transportadora
		p 
			| contamos con un aliado principal, 
			| es una empresa Nueva en el sector y
			| conformada por un equipo con años de 
			| experiencia, iniciaremos con COMUNIDAD TRANSPORTADORA 
			| a una campaña con el fin de reunir mas vehiculos blancos.