section.trabajaConecta(id="Trabajemos_juntos")
	.trabajaConecta__contenido
		h1 trabaja con nosotros
		p 
			| Estamos reinventando la forma en que se mueve el mundo del 
			| transporte especial y queremos cambiar la forma en que muchas 
			| personas viven. Nuestro equipo conecta realizó esta plataforma 
			| con la única razón de apoyar al miembro transportador, 
			| reinventándonos, fomentando la comunidad y dandonle valor a 
			| las empresas del transporte nacional.
		span
			| CONECTA te brinda la oportunidad de que te unas a nuestro equipo, solo registrate,  
			| incluye los vehiculos que quieras a la plataforma, comunicate con el gremio 
			| y seamos mejores trabajando.


section.trabajemosJuntos
	+trabajemosJuntos("iconcontratos.png", "CONTRATOS Y SERVICIOS", "Cuando tengas vehiculos inscritos en la plataforma, las empresas de transporte podran contactarte para acordar algun servicio o contrato.")
	+trabajemosJuntos("icontiempol.png", "TIEMPOS LIBRES", "Para los vehiculos que se encuentren libres, habra una seccion en la plataforma para personas que necesiten algun tipo de servicio especial puedan comunicarse y realizar el servicio POR LA PLATAFORMA")
	+trabajemosJuntos("contratosconecta.png", "CONTRATOS CONECTA", "Para las pequeñas empresas o emprendedores que necesiten servicios por contratos pequeños o realizar un viaje, CONECTA se encargara de la busqueda de los vehiculos disponibles  y dara opciones para que el contrato sea validado POR LA PLATAFORMA.")
