section.trabajaConecta(id="Trabajemos_juntos")
	.trabajaConecta__contenido
		h1 trabaja con nosotros
		p te daremos grandes motivos por la cual queremos que trabajes con nosotros
section.trabajemosJuntos
	+trabajemosJuntos("circulocomunidad.png", "COMUNIDAD", "Formaremos la comunidad mas importante<br>para los transportista ,mantenernos informados y comunicados sobre situaciones, publicaciones de empresas,noticias y trabajos sera la primera razon de esta aplicacion.")
	+trabajemosJuntos("circulocomunidad.png", "COMUNIDAD", "Formaremos la comunidad mas importante<br>para los transportista ,mantenernos informados y comunicados sobre situaciones, publicaciones de empresas,noticias y trabajos sera la primera razon de esta aplicacion.")
	+trabajemosJuntos("circulocomunidad.png", "COMUNIDAD", "Formaremos la comunidad mas importante<br>para los transportista ,mantenernos informados y comunicados sobre situaciones, publicaciones de empresas,noticias y trabajos sera la primera razon de esta aplicacion.")
