mein.visionymision(id="visionymision")
	+visionymision("logoconecta.png", "Quienes somos", "Somos una empresa dedicada a implementar soluciones innovadoras para fomentar empleo, compartir información sobre contratos comerciales y laborales, publicar los servicios que prestan diferentes empresas y gestión de servicios sostenible..")
	+visionymision("sobrenosotros.jpg", "Que queremos", "Unir los diferentes componentes del sector del transporte especial colombiano a través de una gestión innovadora para promover contratos laborales y comerciales, además de desarrollar servicios sostenibles al beneficio del transportador y a la ciudadanía de la región.")

