mein.visionymision(id="visionymision")
	+visionymision("logoconecta.png", "Quienes somos", "las diferentes partes que conforman el sector del transporte especial, siendo empresas, propietarios de vehículos, conductores, ciudadanos, gremios y proveedores de diferentes insumos.")
	+visionymision("sobrenosotros.jpg", "Que queremos", "Unir los diferentes componentes del sector del transporte especial colombiano a través de una gestión innovadora para promover contratos laborales y comerciales, además de desarrollar servicios sostenibles al beneficio del transportador y a la ciudadanía de la región.")

