doctype html
html
include head.pug
include configuraciones/configuraciones.pug
body
		include componentes/header.pug
		include componentes/QueEsConecta.pug
		mein.circulo
			+circulo("circulocomunidad.png")
			+circulo("circuloempresa.png")
			+circulo("circulopropietarios.png")
		include componentes/comunidad.pug
		include componentes/visionymision.pug
		include componentes/nuestroAliado.pug
		include componentes/trabajemosJuntos.pug
		include componentes/footer.pug
				

				
